.App {
  text-align: center;
}

.container {
  width: 1000px;
  height: 1000px;
  border: 1px solid #2c3e50;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #154360 repeating-linear-gradient(30deg,
      hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1) 15px,
      transparent 0, transparent 30px);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}